<html>
    <head>
        <%- include('../component/head',{data:{title:'Update Category'}}); %>
    </head>
    <body>
        <%- include("../component/menu"); %>
        <div class="container">
            <div class="offset-sm-3 col-6">
                <form action="/category/<%=category.id%>" method="post">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" name="CategoryName" value="<%= category.Name %>" class="form-control" placeholder="Please Enter category Name">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Update category">
                </form>
            </div>
        </div>
        <%- include("../component/footer") %>
    </body>
</html>