<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../component/head",{data:{title:"Product list"}})%>
</head>
<body>
    <%- include("../component/menu")%>
    <div class="container">
        <div class="row pt-5">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>Name</th>
                        <!-- <th>Price</th> -->
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(typeof(error) != 'undefined' || category && category.length<=0) { %>
                        <tr>
                            <td><%= "category is not found" %></td>
                        </tr>
                    <% } else {%>
                        <% for (let rows of category){%>
                        <tr>
                            <td><%= rows.id%></td>
                            <td><%= rows.Name%></td>
                            <!-- <td><%= rows.img%></td> -->
                            <td>
                                <a href="/category/<%= rows.id%>" class="btn btn-primary">View</a>
                                <a href="/category/update/<%= rows.id%>" class="btn btn-warning">Update</a>
                                <% if(rows.is_deleted == false && permissions.product_delete) {%>
                                    <form action="/category/delete/<%= rows.id%>" method="post">
                                        <input type="submit" value="Delete" class="btn btn-danger">
                                    </form>
                                    <% } else if(rows.is_deleted == true && permissions.product_restore) {%>
                                        <form action="/category/restore/<%= rows.id%>" method="post">
                                            <input type="submit" value="Restore" class="btn btn-success">
                                        </form>
                                        <%}%>
                                    </td>
                                </tr>
                                <%}%>
                   
                </tbody>
            </table>
    <div class="col-sm-12">
        <%let totalpage =Math.ceil(total/limit)%>
        <%for(let i = 1; i<=totalpage; i++) {%>
            <%let url=`/category?limit=${limit}&&page=${i}`%>
            <a href=<%=url%> class="btn btn-default"><%=i%></a>
            <%}%>
             </div>
         </div>
         <% } %>
    </div>

        <%- include("../component/footer")%>
</body>
</html>